@import "tailwindcss";
@utility container {
  padding-right: 1rem;
  padding-left: 1rem;

  margin: 3rem auto;
  max-width: 1300px;
}
@theme {
  --breakpoint-3xl: 1900px;
}
.swiper-pagination {
  bottom: 30px !important; /* sit at the bottom edge */
}

.swiper-pagination.swiper-pagination-bullets {
  background: rgba(244, 244, 244, 0.96);
  padding: 12px 20px;
  border-radius: 999px;
  width: fit-content !important;
  left: 50% !important;
  transform: translateX(-50%) translateY(50%) !important;
}

.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  background: #d9d9d9 !important;
  opacity: 1 !important;
  margin: 0 4px !important;
}

.swiper-pagination-bullet-active {
  background: #444 !important;
}
