.swiper_wrapper_custom {
  padding: 0 1rem;
}
@media (min-width: 1200px) {
  .swiper_wrapper_custom {
    padding-right: 150px;
  }
}
@media (min-width: 1440px) {
  .swiper_wrapper_custom {
    padding-right: 130px;
  }
}

@media (min-width: 1900px) {
  .swiper_wrapper_custom {
    padding-right: 320px;
  }
}
